<header>

  <div class="back-button">
    <!-- Back Button with Angular Router Link -->
    <a routerLink="/previous-page">
      <i class="fas fa-arrow-left"></i> Back
    </a>
  </div>
  
  <div class="logo">
    <!-- Company Logo Image -->
    <img src="../../../../assets/logo/splyza-logo.png" alt="Company Logo">
  </div>

  <div class="user-profile">
    <!-- User Profile Avatar -->
    <img src="../../../../assets/images/avator.svg" alt="User Avatar">
    <!-- User Name -->
    <span>Wunna </span>
  </div>
</header>
