<p>header works!</p>
<div
  class="footer-container flex py-2 px-6 gap-2 justify-content-between align-items-center"
>
  <div [routerLink]="['/']" class="cursor-pointer">
    <img
      src="/video-box-frontend/src/assets/logo/splyza-logo.png"
      alt="splyza-logo"
      class="w-full"
    />
  </div>

  <!-- <div class="flex align-items-center gap-1">
    <ng-container *ngIf="loggedInUser">
      <p-avatar
        [image]="loggedInUser.pictureUrl"
        styleClass="mr-2"
        shape="circle"
      ></p-avatar>
      <span> {{ loggedInUser.name }}</span>
    </ng-container>
  </div> -->
</div>
