.back-link {
  text-decoration: none; /* Remove underline */
  color: #fff; /* Set the link color to blue or your desired color */
  font-weight: bold; /* Make the text bold if needed */
}


.custom-ml{
  margin-left: 20px; /* Adjust the value as needed */
}