.custom-btn{
    background-color: transparent;
    color: #64748B;
    border: 1px solid;
    width: 2000px;
}

.custom-raised-button {
    background-color: #fff;
    color: #171717;
    border: 1px solid #64748B;
    padding: 0.8rem 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    font-weight: bold;
    width: 150px !important;
  }
  
  .custom-raised-button:hover {
    background-color: #EFEFEF;
  }
  
  .videohover:hover{
    background-color: #EFEFEF;
  }

  .star {
    position: absolute;
    bottom: 20%; /* Adjust to position it at the bottom right corner */
    right: 30%; /* Adjust to position it at the bottom right corner */
    opacity: 0;
    color: #fff;
    transform: translateY(0);
    transition: all 1s;
  }

  .video-conatiner{
    position: relative;
  }


  
  